/.calva/output-window/
/.clj-kondo/.cache/
/.lsp/.cache/
/classes
/checkouts
/lib
/target
/.lein-*
/.env
/.m2
*.jar
*.class
pom.xml
/.nrepl-port
dev-config.edn
test-config.edn
profiles.clj

/node_modules
/log
/data
/.shadow-cljs

/db-dumps/*
!/db-dumps/*.sh

/.bash_history
/.vscode-server

/start.sh
