/classes
/checkouts
/lib
/target
/.lein-*
/.env
/.m2
*.jar
*.class
pom.xml
.nrepl-port
dev-config.edn
test-config.edn
profiles.clj

/node_modules
/log
/data
/.shadow-cljs
/*.sh
/db-dumps/*.sql
/db-dumps/old/

/.bash_history
/.vscode-server

/.calva/output-window/
/.clj-kondo/.cache/
/.lsp/.cache/

