[Unit]
Description=Withings-Client service

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/withings-client
EnvironmentFile=/home/ubuntu/withings-client/env_file
ExecStart=/bin/sh start.sh
ExecStop=/bin/sh stop.sh
TimeoutSec=300

[Install]
WantedBy=multi-user.target
